body {
	background-image:url("http://colourlovers.com.s3.amazonaws.com/images/patterns/221/221504.png");
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

#content {
	background-color:white;
	border:0.3em solid black;
	margin:7em;
	height:500px;
}

#left {
	width:300px;
	float:left;
	margin-top:43px;
}

#right {
	margin-left:310px;
	padding-left:15em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	font-family:'Cardo',Georgia,Times,serif;
}

h1 {
	font-size:4em;
}

p {
/*	font-size:1.0em;*/
}

a {
	color:#a00;
}

div.tweet {
	width:25em;
}

.tweet_list {
	list-style-type:none;
	padding-left:0;
	font-size:0.9em;
}

.tweet_list li {
	margin-bottom:1em;
}

